@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/static/Epilogue-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/static/Epilogue-Bold.ttf');
    font-weight: 700;
}

@supports(font-variation-settings: normal){
    @font-face {
        font-family: 'Epilogue';
        src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype supports variations'),
            url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 500 700;

    }
}

:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --font: 'Epilogue', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    padding-block-start: 1rem;

    font-size: 1.8rem;
    font-family: var(--font);
    background-color: var(--almost-white);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;
    width: 100%;
    max-width: 144rem;
    margin-block-end: 2rem;
}
a{
    text-decoration: none;
}
.navbar__logo{
    display: inline-block;

    width: 8.5rem;
    height: 3rem;
    margin-inline-start: 1.5rem;
    margin-block-start: 2rem;

    background-image: url('../images/logo.svg');
    background-position: center;
    background-size: 8.5rem;
    background-repeat: no-repeat;
}

.navbar__modal_background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.603);
}
.navbar__modal_background--inactive{
    display: none;
}

.navbar__modal_menu{
    position: absolute;
    top: 0;
    right: 0;

    width: 25rem;
    height: 100vh;

    background-color: white;
}
.navbar__modal_menu--inactive{
    display: none;
}


.navbar__close_button{
    position: absolute;
    top: 2rem;
    right: 2rem;

    width: 3rem;
    height: 3rem;

    background-image: url('../images/icon-close-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
.navbar__list{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    margin-block-start: 9rem;
    margin-block-end: 5rem;

    list-style: none;

    color: var(--medium-gray);
}
.navbar__item, .navbar__list > li > a{
    margin-inline-end: 3rem;

    cursor: pointer;
    color: var(--medium-gray);
}
.item__arrow{
    display: inline-block;

    margin-left: 1rem;
    width: 1.2rem;
    height: 1.2rem;

    background-image: url('../images/icon-arrow-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.navbar__sub_list{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    margin-block-start: 1.8rem;
    margin-block-end: 1rem;

    list-style: none;
}
.navbar__sub_list--inactive{
    display: none;
}
.navbar__sub_item{
    display: flex;
    gap: 1.3rem;
}
.navbar__sub_item a{
    line-height: 2.1rem;

    color: var(--medium-gray);
}
.sub_item__todo{
    display: inline-block;

    width: 2rem;
    height: auto;

    background-image: url('../images/icon-todo.svg');
    background-position: bottom;
    background-size: 1.8rem;
    background-repeat: no-repeat;
}
.sub_item__calendar{
    display: inline-block;

    width: 2rem;
    height: auto;

    background-image: url('../images/icon-calendar.svg');
    background-position: bottom;
    background-size: 1.8rem;
    background-repeat: no-repeat;
}
.sub_item__reminders{
    display: inline-block;

    width: 2rem;
    height: auto;

    background-image: url('../images/icon-reminders.svg');
    background-position: bottom;
    background-size: 1.8rem;
    background-repeat: no-repeat;
}
.sub_item__planning{
    display: inline-block;

    width: 2rem;
    height: auto;

    background-image: url('../images/icon-planning.svg');
    background-position: bottom;
    background-size: 1.8rem;
    background-repeat: no-repeat;
}
/*---------- login section on mobile--------------------------------*/
.navbar__login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
/*-------------------------------------------------------------------*/
/*---------- login section on desktop--------------------------------*/
.header__login{
    display: none;
}
/*-------------------------------------------------------------------*/
.login__login{
    text-decoration: none;

    color: var(--medium-gray);
}
.login__register{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 5rem;

    text-decoration: none;
    
    border: solid 0.2rem var(--medium-gray);
    border-radius: 1.3rem;
    color: var(--medium-gray);
}
.header__button{
    height: 3rem;
    width: 4rem;
    margin-inline-end: 1.5rem;

    background-image: url('../images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

main{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    height: 80vh;
}
.main__image{
    width: 100%;
}
.main__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content__title{
    margin-block-end: 1.5rem;

    font-size: 3.4rem;
    text-align: center;

    color: var(--almost-black);
}
.content__text{
    padding: 0 0.5rem;
    margin-block-end: 2.5rem;

    text-align: center;
    font-size: 1.7rem;

    color: var(--medium-gray);
}
.content__button{
    align-self: center;
    height: 5rem;
    width: 15rem;
    margin-block-end: 5rem;

    color: var(--almost-white);
    border: none;
    border-radius: 1.5rem;
    background-color: var(--almost-black);
    transition: all ease-in 0.1s;
}
.content__button:active{
    transform: scale(0.9);
}
.content__brands{
    display: flex;
    justify-content: center;
}

.content__brands span{
    display: inline-block;

    width: 8rem;
    height: 2.5rem;

    background-repeat: no-repeat;
    background-position: center;
}

.brands__databiz{
    background-image: url('../images/client-databiz.svg');
    background-size: 8rem;
}
.brands__audiophile{
    background-image: url('../images/client-audiophile.svg');
    background-size: auto 2.5rem;
}
.brands__meet{
    background-image: url('../images/client-meet.svg');
    background-size: 8rem;
}
.brands__maker{
    background-image: url('../images/client-maker.svg');
    background-size: 8rem 2.5rem;
}

@media screen and (min-width: 600px) {
    
}

@media screen and (min-width: 1030) {
    
}

@media screen and (min-width: 1200px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;

        padding-block-start: 1rem;
    
        font-size: 1.8rem;
        font-family: var(--font);
        background-color: var(--almost-white);
    }

    header{
        position: absolute;
        top: 2rem;
    }
    .header__navbar{
        display: flex;
        align-items: center;
    }
    .navbar__logo{
        display: inline-block;
    
        width: 8.5rem;
        height: 3rem;
        margin-inline-start: 5rem;
        margin-block-start: 1rem;
    
        background-image: url('../images/logo.svg');
        background-position: center;
        background-size: 8.5rem;
        background-repeat: no-repeat;
    }
    .navbar__modal_menu{
        position: initial;
        display: initial;
    
        width: auto;
        height: auto;
    
        background-color: transparent;
    }
    .navbar__close_button{
        display: none;
    }
    .navbar__list{
        display: flex;
        flex-direction: row;
        gap: 0rem;
    
        margin-block-start: 0rem;
        margin-block-end: 0rem;
    }
    .navbar__item{
        position: relative;
    }
    .navbar__login{
        display: none;
    }

    .navbar__sub_list{
        position: absolute;
        top: 3rem;
        right: 0;

        width: auto;
        padding: 2rem 2.5rem;
    
        background-color: var(--almost-white);
        border-radius: 1rem;
        box-shadow: 0 0 3rem 0.1rem rgba(0, 0, 0, 0.445);
    }
    #company__sublist{
        right: -2rem;

        width: 14rem;
    }
    .header__login{
        display: flex;
        align-items: center;

        margin-inline-end: 5rem;

        width: 25rem;
    }

    .login__login{
        width: 50%;
    }
    .login__register{    
        width: 60%;
    }

    .header__button{
        display: none;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'content image';
        gap: 15rem;
    
        padding: 0 0rem;
        margin-block-start: 0rem;
        width: 100%;
        max-width: 115rem;
        height: 64rem;

    }

    .main__image{
        grid-area: image;
    }
    .main__image img{
        max-width: auto;
        height: 100%;
        max-height: 64rem;
    }
    .main__content{
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .content__title{
        margin-block-start: 10rem;
        margin-block-end: 5rem;
    
        font-size: 7.5rem;
        line-height: 7.5rem;
        text-align: left;
    }
    .content__text{
        padding: 0 13rem 0 0;
        margin-block-end: 5rem;
    
        text-align: left;
        font-size: 1.8rem;
    }
    .content__button{
        align-self: flex-start;
        margin-block-end: 10rem;
    }
    .content__brands{
        display: flex;
        justify-content: space-between;

        width: 80%;
    }
    
    .content__brands span{
        display: inline-block;
    
        width: 10rem;
        height: 3rem;
    
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .brands__databiz{
        background-image: url('../images/client-databiz.svg');
        background-size: 10rem;
    }
    .brands__audiophile{
        background-image: url('../images/client-audiophile.svg');
        background-size: auto 3rem;
    }
    .brands__meet{
        background-image: url('../images/client-meet.svg');
        background-size: 10rem;
    }
    .brands__maker{
        background-image: url('../images/client-maker.svg');
        background-size: 10rem 3rem;
    }
}

@media (hover:hover){
    .navbar__item:hover{
        color: var(--almost-black);
    }

    .content__button:hover{
        background-color: var(--almost-white);
        border: solid 0.2rem var(--almost-black);
        color: var(--almost-black);
    }
}